<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>后台管理平台 | {$Think.config.developer.company}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="__PUBLIC__/lteplus/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="__PUBLIC__/lteplus/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="__PUBLIC__/lteplus/dist/css/skins/skin-blue.min.css">
  <!-- <link rel="stylesheet" href="__PUBLIC__/lteplus/dist/css/skins/skin-black-light.min.css">-->

  <!--[if lt IE 9]>
  <script src="__PUBLIC__/lteplus/dist/js/html5shiv.min.js"></script>
  <script src="__PUBLIC__/lteplus/dist/js/respond.min.js"></script>
  <![endif]-->
  <block name="style"></block>
</head>
<php>$manage_info = json_decode($_SESSION['MANAGE_INFO'],true);</php>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- 顶端菜单 -->
  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <span class="logo-mini">{$Think.config.developer.company}</span>
      <span class="logo-lg">{$Think.config.developer.company}管理平台</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav"> 
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i> 清理缓存</a>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="__PUBLIC__/lteplus/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs"><php>echo $manage_info['login_name'];</php></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="__PUBLIC__/lteplus/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                <php>echo $manage_info['real_name'];</php>
                  <small><php>echo $manage_info['phone'];</php></small>
                </p>
              </li>

              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">修改信息</a>
                </div>
                <div class="pull-right">
                  <a href="{:U('Public/logout')}" class="btn btn-default btn-flat">退出</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header><!-- /顶端菜单 -->



  <!-- 左侧菜单 -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li <php>if(CONTROLLER_NAME == 'Index' && ACTION_NAME == 'index') echo 'class="active"';</php> ><a href="{:U('Index/index')}"><i class="fa fa-link"></i> <span>主页面</span></a></li>
        
        <!-- <li><a href="#"><i class="fa fa-link"></i> <span>基本设置</span></a></li> -->
        
        <li  <php>if(CONTROLLER_NAME == 'Auth'){echo 'class="treeview active"';}else{echo 'class="treeview"';} </php> >
          <a href="#"><i class="fa fa-link"></i> <span>权限管理</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li <php>if(ACTION_NAME == 'authList') echo 'class="active"';</php> ><a href="{:U('Auth/authList')}">管理员权限规则</a></li>
            <li <php>if(ACTION_NAME == 'authGroupList') echo 'class="active"';</php> ><a href="{:U('Auth/authGroupList')}">管理员角色</a></li>
          </ul>
        </li>

      </ul><!-- /.sidebar-menu -->
    </section><!-- /.sidebar -->
  </aside><!-- /左侧菜单 -->





  <!-- 主内容区域 -->
  <div class="content-wrapper">
    <!-- 内容区头部 -->
    <section class="content-header">
      <div style="text-align: left;">
        <ol class="breadcrumb">
          <block name="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> 主页面</a></li>
          <li class="active"></li>
          </block>
        </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
    <block name="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> 面板</h3>
        </div>
        <div class="box-body">
          <div class="row">

          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div><!-- /.box -->
 
    </block>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->




  <!-- 页脚 -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2016 <a href="{$Think.config.developer.http}"  target="_blank">{$Think.config.developer.footer}</a>.</strong> All rights reserved.
  </footer><!-- /页脚 -->

  
</div><!-- ./wrapper -->
<script src="__PUBLIC__/Js/jQuery-2.2.0.min.js"></script>
<script src="__PUBLIC__/lteplus/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/lteplus/dist/js/app.min.js"></script>
<block name="script"></block>
</body>
</html>
